body{
	background: #f1f1f1;
	font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, sans-serif;
}

.mdui-row{
	background: white;
}

.mdui-card{
	margin:8px;
}
.detail-pannel p{
	padding: 10px 0px 0px 20px;
	color: #666;
}

.add_to_cart{
	padding: 30px;
}

.detail-pannel .mdui-divider{
	margin-left: 10%;
	margin-right:  10%;
}

.detail-pannel span,
.detail-pannel p{
	font-size: 14px;
	overflow:hidden; 
	text-overflow:ellipsis; 
	white-space:nowrap; 
	word-break:keep-all; 
}

.mdui-grid-list img{
	width: 300px;
	height: 188px;
}

.order-list-item img{
	width: 144px;
	height: 96px;
	padding: 16px;
}

.order-photo-id{
	font-size:12px;
}

